/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Sora:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto&family=Sora:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
    
}
body{
    background-color: black;
    animation: fade 1s ease-in 1s;
    opacity: 1;
    color: #fff;
}

@keyframes fade {
    1% {
        opacity: 1%;
    }
    100% {
        opacity: 100%;
    }
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 2rem;
    /* font-family: 'Poppins', sans-serif; */
}


.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #fff;
    border: 1px solid gainsboro;
    gap: 2rem;
    border-radius: 3rem;
    padding: 1rem;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-stretch: expanded;
}

/* Active nav-links */
.nav-links .active{
    background-color: gainsboro;
    padding: 14px;
    color: black;
    border-radius: 1rem;
}

.nav-links a:hover{
    /* border: 0.4px solid #fff; */
    padding: 14px;
    border-radius: 3rem;
    background-color: gainsboro;
    color: black;
    transition: all 0.2s ease;
    pointer-events: visibleFill;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3 ease;
}


/* Adding onswitch light */
.fa-regular{
    color: #fff;
    font-size: 1rem;
    border: 1px solid gainsboro;
    border-radius: 3rem;
    padding: 1rem;
}
/* Adding hover  effect*/
.fa-regular:hover{
    background-color: gainsboro;
    color: black;
}

.fa-sharp{
color: #fff;
font-size: 1.4rem;
margin-left: 1rem;
}
#p{
    text-align: center;
    align-items: center !;
    color: #fff;
}

.article{
    display: inline-block;
    padding: 13px;
    margin: 10px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.article img{
    border-radius: 50%;
    height:50px;
    width:50px;
    align-items: center;
    /* transition: all 1s  ease-in; */
}


.article img:hover{
    transform: scale(3);
}

/*  All media query*/
@media screen and (max-width: 1028px){
   .nav-links{
    width: 60%;
   }
}
@media screen and (max-width: 768px){
    body{
        /* overflow-x: hidden; */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
   .nav-links{
    position: absolute;
    right: 0px;
    padding: 5rem;
    height: 25rem;
    top: 12vh;
    padding-top: 1rem;
    margin: 2rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-150%);
    transition: transform 1s ease-in;

   }

   .nav-links li{
    opacity: 1;
   }
   .burger{
    display: block;
   }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}