@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300&family=Roboto&family=Sora:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(26, 25, 23);
  animation: fade 1s ease-in 1s;
  transform: translateY(-1%);
  opacity: 1;
  color: #fff;
}

@keyframes fade {
  1% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
  1% {
    transform: translateY(1%);
  }
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(26, 25, 23);
  font-family: "Roboto", sans-serif;
  margin: 2rem;
  /* font-family: 'Poppins', sans-serif; */
}

.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  border: 1px solid gainsboro;
  gap: 2rem;
  border-radius: 3rem;
  padding: 1rem;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  font-stretch: expanded;
}

/* Active nav-links */
.nav-links .active {
  background-color: gainsboro;
  padding: 14px;
  color: black;
  border-radius: 1rem;
}

.nav-links a:hover {
  /* border: 0.4px solid #fff; */
  padding: 14px;
  border-radius: 3rem;
  background-color: gainsboro;
  color: black;
  transition: all 0.2s ease;
  pointer-events: visibleFill;
}
/* The burger place */
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3 ease;
}
/* Styling my main article */

.article {
  display: inline-block;
  padding: 13px;
  margin: 10px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}
.article img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  /* transition: all 1s  ease-in; */
}

.article img:hover {
  transform: scale(3);
}



.rows {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  margin: 2rem;
  gap: 1rem;
}

.rows .col1,
.col2,
.col3 {
  margin-left: 30px;
  margin-left: 1rem;
  padding-left: 1rem;
  padding: 1rem;
  box-shadow: 2px -2px 172px -62px rgba(212, 212, 212, 0.27);
  -webkit-box-shadow: 2px -2px 172px -62px rgba(229, 227, 227, 0.27);
  -moz-box-shadow: 2px -2px 172px -62px rgba(212, 206, 206, 0.27);
  border: 1px solid #ccc;
  /* text-align: center; */
  /* align-items: center; */
  letter-spacing: 1px;
  line-height: 2rem;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: 16px;
  font-family: "Open Sans", sans-serif;
}

.rows h3 {
  text-align: center;
  text-decoration: underline grey;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.container-fluid h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media pages about */


#media h2 {
  margin: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

kbd {
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#rows {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  margin: 2rem;
  gap: 1rem;
}

#rows #col1,
#col2,
#col3 {
  margin-left: 30px;
  margin-left: 1rem;
  padding-left: 1rem;
  padding: 1rem;
  box-shadow: 2px -2px 172px -62px rgba(212, 212, 212, 0.27);
  -webkit-box-shadow: 2px -2px 172px -62px rgba(229, 227, 227, 0.27);
  -moz-box-shadow: 2px -2px 172px -62px rgba(212, 206, 206, 0.27);
  border: 1px solid #ccc;
  letter-spacing: 1px;
  line-height: 2rem;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: 16px;
  font-family: "Open Sans", sans-serif;
}

#rows a {
  color: #fff;
}

#rows h3 {
  text-align: center;
  text-decoration: underline grey;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.general-ani{
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-content: center;
  place-items: center;
}

.general-ani h3 {
  text-align: center;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

/* All icons in the site */
/* Adding onswitch light */
.fa-regular {
  color: #fff;
  font-size: 1rem;
  border: 1px solid gainsboro;
  border-radius: 3rem;
  padding: 1rem;
}
/* Adding hover  effect*/
.fa-regular:hover {
  background-color: gainsboro;
  color: black;
}

.fa-sharp {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 1rem;
}
#p {
  text-align: center;
  align-items: center !;
  color: #fff;
}

.fa-sharp {
  font-size: 2rem;
  margin: 1rem;
  animation: fade 1s ease-in-out infinite;
  transform: translateY(-4%);
  transition: 2s infinite;
}
@keyframes fade {
  1% {
    transform: translateY(1%);
  }
}

/*  All media query*/
@media screen and (max-width: 1028px) {
  .nav-links {
    width: 60%;
  }
  .rows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 2rem;
    margin: 2rem;
    gap: 1rem;
  }

  #rows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 2rem;
    margin: 2rem;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  .general-ani{
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
  }
  
  .nav-links {
    position: absolute;
    right: 0px;
    padding: 5rem;
    height: 25rem;
    top: 12vh;
    padding-top: 1rem;
    margin: 2rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-150%);
    transition: transform 1s ease-in;
  }
  .rows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1rem;
    margin: 2rem;
    gap: 1rem;
  }

  #rows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1rem;
    margin: 2rem;
    gap: 1rem;
  }

  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.progress-bar {
  width: 160px;
  height: 160px;
  /* background-color: cornflowerblue; */
  position: relative;
}
.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0..15),
               -6px -6px 10px -1px rgba(225,255,255,0.7);
  padding: 20px;
}
.inner{
  height: 120px;  
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(0,0,0,0.2),
                -0.5px 0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(255,255,255,1),
                0px 12px 10px -10px rgba(0,0,0,0.5);
}

#number{
  font-weight: 600;
  color: #555;
}
